@use './Variable.scss' as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  min-height: 400px;

  .emptyMessage {
    font-size: 1.1rem;
  }
  
  .cardItem {
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 1.2rem;
    transition: all 0.3s ease;


    h4 {
      font-size: 1.2rem;
      font-weight: 600;
      color: $font-color;
      margin-bottom: 0.8rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    p {
      font-size: 0.9rem;
      line-height: 1.5;
      color: lighten($font-color, 20%);
      margin-bottom: 0.6rem;
      display: flex;
      align-items: center;
      
      &::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: lighten($font-color, 40%);
        margin-right: 8px;
      }
    }

    .btns {
      margin-top: 1rem;
      display: flex;
      gap: 0.8rem;

      .btn {
        padding: 0.5rem 1rem;
        border-radius: 6px;
        border: none;
        font-size: 0.85rem;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s ease;
        
        &:first-child {
          background-color: $cor-destaque;
          color: $link-color
        }
        
        &:last-child {
          border: 2px solid $cor-destaque;
          color: $cor-destaque;
        }
      }
    }
  }
}

.modalEdit {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h3 {
    text-align: center;
    font-size: 1.2rem;
  }

  .inputGroup {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap: 0.3rem;

    input,
    textarea,
    select {
      padding: 0.5rem;
      border-radius: 8px;
      border: 2px solid transparent;
      width: 100%;
      background-color: $gray;
      font-family: $font;
      resize: none;
      transition: all 0.3s ease;

      &:focus {
        border-color: $font-color;
        box-shadow: 0 0 8px rgba($font-color, 0.3);
        background-color: lighten($gray, 3%);
      }
    }
  }

  button {
    background-color: $font-color;
    color: $link-color;
    border: none;
    padding: 0.4rem 1.5rem;
    border-radius: 1rem;
  }

  .btnsDelete {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  } 
}