@use './Variable.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 35rem;
  gap: 1.7rem;
  margin: 3rem auto;
  background: linear-gradient(135deg, $link-color, lighten($link-color, 10%));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 2.5rem 2rem;
  border-radius: 10px;
  animation: fadeIn 0.4s ease-in-out;

  h1 {
    text-align: center;
    font-family: $font;
    font-size: 1.5rem;
    color: $font-color;
    margin-bottom: 1rem;
  }

  input,
  textarea,
  select {
    padding: 0.8rem;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    border: none;
    background-color: $gray;
    font-family: $font;
    font-size: 0.9rem;
    transition: all 0.1s ease;
    outline: none;

    &:focus {
      border-bottom: 2px solid $font-color;
      box-shadow: 0 0 8px rgba($font-color, 0.3);
      background-color: lighten($gray, 3%);
    }
  }

  textarea {
    resize: none;
    min-height: 6rem;
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 6px;

    label {
      font-weight: 600;
      font-size: 0.9rem;
      color: darken($font-color, 10%);
    }
  }

  .SubmitBtn {
    background: $font-color;
    border: none;
    padding: 0.6rem 1.6rem;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: darken($font-color, 8%);
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba($font-color, 0.3);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.error {
    display: flex;
    align-items: center;
    gap: 6px;
    color: red;
    background-color: rgb(255, 225, 225);
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    width: 100%;
  }

  .mensagem {
    font-size: 0.95rem;
    margin-top: 0.5rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0.7rem 1rem;

    &.sucesso {
      color: rgb(6, 140, 6);
      background-color: rgb(215, 247, 215);
      border-left: 4px solid rgb(6, 140, 6);
    }

    &.erro {
      color: rgb(175, 6, 6);
      background-color: rgb(247, 202, 202);
      border-left: 4px solid rgb(175, 6, 6);
    }
  }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
