@use './Variable.scss' as *;

.managementTask {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  background-color: #f5f7fa;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: $font-color;
    text-align: start;
    margin-bottom: 1rem;
  }

  .managementCard {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
}

.column {
  background: white;
  border-radius: 0px;
  padding: 1.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 5px 5px;
  
  .titleColumn {
    background: $font-color;
    color: white;
    padding: 0.7rem 1rem;
    border-radius: 5px 5px 0px 0px;
    margin: -1.5rem -1.5rem 1.5rem -1.5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  }
}