@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$background: #f5f5f5;
$cor-destaque: #0056b3;
$cor-secundaria: #1b75d6;
$font-color: black;
$font-size: 14px;
$link-color: white;
$font: "Roboto", sans-serif;
$gray: #f3f3f3;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
    color: $font-color;
    font-size: $font-size;
    font-family: $font;
}

main {
    display: flex;
    height: 80vh;
    align-items: center;

}